*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card{
    margin: 20px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgb(235, 148, 148);
    transition: all 400ms ease-in-out;
}

.card:hover{
    box-shadow: 0px 0px 7px #eb9494;
    transform: scale(1.05);
    cursor: pointer;
}

.name{
    font-size: 1.2rem;
    margin: 10px;
    font-weight: bold;
}

.type{
    font-size: 1rem;
    margin: 10px;
}

.followers{
    font-size: 1rem;
    margin: 10px;
}