*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.search-container{
    display: flex;
    justify-content: center;
    margin: 20px 30px;
    box-shadow: 0px 0px 4px rgb(235, 148, 148);
    border-radius: 5px;
}

.search-container input{
    height: 50px;
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    font-weight: bold;
    margin: 2px;
    border-radius: 5px;
    background-color: white;
    border: none;
    outline: none;
    text-align: center;
}

.clear-search-button{
    font-size: 1rem;
    width: 80px;
    height: 50px;
    border-radius: 5px;
    margin: 2px;
    color: white;
    background-color: rgb(253, 67, 67);
}

.search-navigation{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 30px;
}

.active{
    background-color: #212121;
}

a{
    width: 200px;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(253, 67, 67);
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    transition: all 400ms ease-in-out;
}

.search-navigation a:hover{
    background-color: #212121;
}

